* {
    margin: 0;
    outline: 0.1px solid red
}

.headSec, .secOne, footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.headSec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headSec ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headSec ul a {
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.secOne {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: extra-bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10rem;
}

.secOne p {
    color: #E5E7EB
}

.secOne img {
    width: 40rem;
    height: auto;
    margin: 2rem;
}

.secTwo img {
    width: 20rem;
}
.secThree {
    background: #E5E7EB;
}

