* {
    margin: 0;
    /* outline: 0.1px solid red; */
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;

}

.headSec,
.secOne,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.headSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15rem;
}

.headSec ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 13.5rem;
}

.headSec ul a {
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    padding: 1.5em;

}

.secOne {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: extra-bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15rem;
    padding-bottom: 3rem;
}


.oneText p {
    font-size: 1.2rem;
    padding-right: 1.5rem;
}

.secOne p {
    color: lightgrey;
}

.secOne button {
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-color: #3882F6;
    margin-top: 0.5rem;
}

.secOne img {
    width: 30rem;
    height: 20rem;
    margin: 2rem;
    margin-right: 15rem;
    border-radius: 15px;
}

.secTwo h2 {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-size: 2rem;
    font-weight: extra-bold;
    color: #1F2937
}

.secTwo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem;
    margin-left: 11rem;
    margin-right: 11rem;
}

.secTwo ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

.secTwo ul li p {
    width: 10rem;
    color: gray;
}

.secTwo img {
    width: 10rem;
    height: 10rem;
    border-color: #3882F6;
    border-radius: 15px;
    border-width: 4px;
    border-style: solid;
    margin-bottom: 0.5rem; 
}

.secThree {
    background: #E5E7EB;
    padding: 8rem 24rem 8rem 24rem;
}

.secThree h1 {
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.secThree h4 {
    text-align: right;
    padding-right: 2rem;
}